@{
    ViewData["Title"] = "Política de Privacidad";
}
<style>
    img.logo {
        width: 200px; /* Ajusta el tamaño según tus necesidades */
        height: auto;
    }

    img.loga {
        width: 400px; /* Ajusta el tamaño según tus necesidades */
        height: auto;
    }

</style>

<h1>@ViewData["Title"]</h1>
<p><img src="~/imagenes/logo privacidad.jpg"  alt ="logo de perfumes" class="logo" /></p>
<p>CIRCULO DE FRAGANCIA, nos comprometemos a proteger su privacidad y garantizar que su información personal se maneje de manera segura y responsable. Esta política de privacidad explica cómo recopilamos, usamos y protegemos su información cuando utiliza nuestro sitio web y nuestros servicios.</p>
<h2>1. Información que Recopilamos</h2>
<p>Podemos recopilar información personal de varias maneras, incluyendo:</p>
<ul>
    <li>Al registrarse en nuestro sitio web</li>
    <li>Al realizar una compra</li>
    <li>Al suscribirse a nuestro boletín</li>
    <li>Al participar en encuestas o promociones</li>
</ul>
<p>La información que recopilamos puede incluir su nombre, dirección, correo electrónico, número de teléfono y detalles de pago.</p>
<h2>2. Uso de la Información</h2>
<p>Utilizamos la información recopilada para:</p>
<ul>
    <li>Procesar y completar sus pedidos</li>
    <li>Mejorar su experiencia en nuestro sitio web</li>
    <li>Enviar boletines informativos y promociones</li>
    <li>Responder a sus consultas y proporcionarle soporte al cliente</li>
</ul>
<h2>3. Protección de la Información</h2>
<p>Tomamos medidas de seguridad razonables para proteger su información personal contra el acceso no autorizado, la alteración, divulgación o destrucción. Utilizamos tecnologías de encriptación y otros métodos de seguridad para proteger sus datos durante la transmisión y almacenamiento.</p>
<h2>4. Compartir Información</h2>
<p>No vendemos, alquilamos ni compartimos su información personal con terceros, excepto en las siguientes circunstancias:</p>
<ul>
    <li>Para cumplir con una obligación legal</li>
    <li>Para proteger y defender nuestros derechos y propiedad</li>
    <li>Con proveedores de servicios que nos ayudan a operar nuestro negocio, siempre y cuando se comprometan a mantener la confidencialidad de su información</li>
</ul>
<h2>5. Sus Derechos</h2>
<p>Usted tiene derecho a acceder, corregir o eliminar su información personal en cualquier momento. También puede optar por no recibir nuestras comunicaciones promocionales siguiendo las instrucciones de cancelación de suscripción en dichos mensajes.</p>
<h2>6. Cookies</h2>
<p>Utilizamos cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web. Las cookies nos permiten recordar sus preferencias y personalizar el contenido para usted. Puede configurar su navegador para rechazar las cookies, pero esto puede afectar su capacidad para utilizar algunas funciones de nuestro sitio web.</p>
<h2>7. Cambios en esta Política</h2>
<p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Publicaremos cualquier cambio en esta página y, si los cambios son significativos, le notificaremos por correo electrónico o mediante un aviso en nuestro sitio web.</p>
<h2>8. Contacto</h2>
<p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, puede contactarnos en:</p>
<p>Email: circulofragancia@gmail.com</p>
<p>
    Teléfono: 33556623-699695381
</p>
<p>Dirección: Calle del Perfume, 123, Madrid, España</p>
<p><img src="~/imagenes/logo privacidad.jpg" alt="logo de perfumes" class="logo" /></p>
<p>Gracias por confiar en nosotros.</p>